/* http://www.colourlovers.com/palette/409141/Grassy_business */
body {
    background: #f7f7f7;
}

table.trades {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

table.trades td, table.trades th {
    border: 1px solid #ccc;
}

table.trades th {
    background: #DAE7F7;
    font-size: .8em;
    font-family: "Consolas", monospace;
    font-weight: normal;
    padding: .5em .5em;
}

a.button {
    background: #BBDB90;
    color: #777;
    padding: .2em .4em;
    border: 1px solid #719A4E;
    display: block;
    float: left;
    margin-right: .5em;
    text-decoration: none;
}

#navigation {
    margin-bottom: 1em;
}

#frame {
    background: #fff;
    border: 1px solid #f2f2f2;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
}

#error {
    color: firebrick;
}